@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.body-pink {
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 22px;
}

.main-index {
  flex-grow: 1;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-right {
  margin-left: auto;
}

.link {
font-family: 'Inter';
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #2D3440;
text-decoration: none;
display: inline-block;
padding: 6px 12px;
}

.link-catalog-svg {
  display: inline-block;
  vertical-align: middle;
}

.link:hover .link-catalog-svg path{
  fill: #FCFCFC;
}

.nav-catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 108px;
}

.nav-catalog:hover svg {
  transform: rotate(180deg);
}

.link:hover {
  color:#FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}

.nav-link {
  font-weight: 700;
}

.link-right {
  background-color:  rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-size: 14px;
  padding: 5px 18px;
}

.search {
  padding: 6px 10px 7px;
  border-radius: 50%;
}

.enter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 88px;
}

.nav-item-right:not(:first-child) {
  margin-left: 16px;
}

.nav-item-right:first-child {
  margin-left: 0;
}

.nav-list-right .search-item {
  margin-left: 4px;
}

.header-logo-link {
display: inline-block;
margin-right: 20px;
}

.nav-item-left:not(:last-child) {
  margin-right: 9px;
}

.nav-item-catalog {
  position: relative;
}

.small-catalog-wrapper {
  width: 135px;
  padding-top: 10px;
  position: absolute;
  top: 32px;
  left: -2px;
  display: none;
}

.catalog-menu {
  width: 135px;
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 10px 0;
  padding-bottom: 6px;
}

.catalog-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-menu-link {
  display: block;
  width: 135px;
 font-size: 14px;
 font-weight: 400;
 line-height: 20px;
 text-decoration: none;
 color: #2D3440;
 padding: 6px 0 6px 16px;
}

.catalog-menu-link:hover {
background-color: #FFCBD8;
}

.catalog-menu-link:focus {
background-color: #FF7799;
}

.catalog-menu-link:active {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.new-link {
  font-weight: 700;
}

.new-link::after {
content: "";
position: absolute;
width: 103px;
height: 1px;
border-bottom: 1px solid #B9B9B9;
top: 55px;
left: 16px;
}

.catalog-menu-list .new-item {
  margin-bottom: 10px;
}

.nav-item-catalog:hover .small-catalog-wrapper {
  display: block;
}

.nav-item-right {
  position: relative;
}

.search-form {
  position: absolute;
  top: 30px;
  right: 0;
  padding-top: 10px;
  z-index: 10;
  display: none;
}

.small-search-wrapper {
  padding: 25px 16px;
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.search-input {
  width: 325px;
  padding: 13px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.search-input::placeholder {
  color: #B9B9B9;
}

.search-button {
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  background-image: url("../images/search-reset.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50px;
  right: 25px;
  display: none;
  opacity: 0.5;
}

.search-input:focus {
  outline: 1px solid rgba(185, 185, 185, 0.5);
}

.search-input:not(:placeholder-shown) {
  outline: 1px solid rgba(185, 185, 185, 0.5);
}
.search-input:not(:placeholder-shown) + .search-button {
  display: block;
}

.search-item:hover .search-form {
  display: block;
}

.enter-form {
  padding-top: 20px;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 0;
  display: none;
  border-radius: 4px;
}

.enter-group {
  padding: 0;
  border: none;
}

.enter-title {
  background-color: #FCFCFC;
  padding: 48px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  border-radius: 4px;
}

.enter-input {
  display: block;
  width: 324px;
  padding: 14px 16px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.input-top {
  margin-top: 32px;
  margin-bottom: 16px;
}

.input-bottom {
  margin-bottom: 32px;
  letter-spacing: 0.2em;
}

.button {
  display: inline-block;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  color: #2D3440;
}

.button-pink {
  color:#FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  margin-right: 23px;
  align-self: flex-start;
}

.enter-container {
  display: flex;
}

.enter-link-wrapper {
  display: grid;
}

.enter-form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.nav-item-right:hover .enter-form {
  display: block;
}

.cart-outer {
  padding-top: 8px;
  min-width: 441px;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 0;
  display: none;
}

.cart-wrapper {
  padding: 48px;
  background-color: #FCFCFC;
  border-radius: 4px;
}

.cart-descr {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.cart-list {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}

.cart-item {
  display: flex;
  margin-bottom: 24px;
}

.cart-container-bottom {
  display: flex;
  align-items: center;
}

.cart-wrapper-small {
  display: grid;
}

.cart-button {
  width: 20px;
  height: 20px;
  background-color: #FCFCFC;
  background-image: url("../images/search-reset.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-left: 55px;
  cursor: pointer;
}

.cart-link-image {
  margin-right: 16px;
}

.cart-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  text-decoration: none;
}

.cart-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.cart-wrapper-small {
  margin-right: auto;
}

.cart-cost {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

.nav-item-right:hover .cart-outer {
  display: block;
}
.title {
  color: #2D3440;
}

.hero-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.descr {
  font-weight: 400;
  color: #2D3440;
}

.hero-descr {
  font-size: 18px;
  line-height: 24px;
}

.button-white {
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.frame-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.frame-item {
  display: flex;
  padding: 21px 0 26px 70px;
}

.container-descr {
  padding: 115px 0;
  width: 475px;
  margin-right: 46px;
}

.main-image {
  position: relative;
}

.main-image::before {
  content: "";
  position: absolute;
  width: 327px;
  height: 312px;
  border-radius: 50%;
  top: 100px;
  left: 0;
  z-index: -1;
}

.raspberry::before {
  background-color: #FFCBD8;
}

.banana::before {
  background-color: #9FC8FF;
}

.caramel::before {
  background-color: #FCDC92;
}
