@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.body-pink {
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: 22px;
}

.main-index {
  flex-grow: 1;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-right {
  margin-left: auto;
}

.link {
font-family: 'Inter';
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #2D3440;
text-decoration: none;
display: inline-block;
padding: 6px 12px;
}

.link-catalog-svg {
  display: inline-block;
  vertical-align: middle;
}

.link:hover .link-catalog-svg path{
  fill: #FCFCFC;
}

.nav-catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 108px;
}

.nav-catalog:hover svg {
  transform: rotate(180deg);
}

.link:hover {
  color:#FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}

.nav-link {
  font-weight: 700;
}

.link-right {
  background-color:  rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-size: 14px;
  padding: 5px 18px;
}

.search {
  padding: 6px 10px 7px;
  border-radius: 50%;
}

.enter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 88px;
}

.nav-item-right:not(:first-child) {
  margin-left: 16px;
}

.nav-item-right:first-child {
  margin-left: 0;
}

.nav-list-right .search-item {
  margin-left: 4px;
}

.header-logo-link {
display: inline-block;
margin-right: 20px;
}

.nav-item-left:not(:last-child) {
  margin-right: 9px;
}

.nav-item-catalog {
  position: relative;
}

.small-catalog-wrapper {
  width: 135px;
  padding-top: 10px;
  position: absolute;
  top: 100%;
  left: -2px;
  display: none;
  z-index: 10;
}

.catalog-menu {
  width: 135px;
  background-color: #FCFCFC;
  border-radius: 4px;
  padding: 10px 0;
  padding-bottom: 6px;
}

.catalog-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-menu-link {
  display: block;
  width: 135px;
 font-size: 14px;
 font-weight: 400;
 line-height: 20px;
 text-decoration: none;
 color: #2D3440;
 padding: 6px 0 6px 16px;
}

.catalog-menu-link:hover {
background-color: #FFCBD8;
}

.catalog-menu-link:focus {
background-color: #FF7799;
}

.catalog-menu-link:active {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.new-link {
  font-weight: 700;
}

.new-link::after {
content: "";
position: absolute;
width: 103px;
height: 1px;
border-bottom: 1px solid #B9B9B9;
top: 55px;
left: 16px;
}

.catalog-menu-list .new-item {
  margin-bottom: 10px;
}

.nav-item-catalog:hover .small-catalog-wrapper {
  display: block;
}

.nav-item-right {
  position: relative;
}

.search-form {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 10px;
  z-index: 10;
  display: none;
}

.small-search-wrapper {
  padding: 25px 16px;
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.search-input {
  width: 325px;
  padding: 13px 16px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.search-input::placeholder {
  color: #B9B9B9;
}

.search-button {
  border: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  background-image: url("../images/search-reset.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50px;
  right: 25px;
  display: none;
  opacity: 0.5;
}

.search-input:focus {
  outline: 1px solid rgba(185, 185, 185, 0.5);
}

.search-input:not(:placeholder-shown) {
  outline: 1px solid rgba(185, 185, 185, 0.5);
}
.search-input:not(:placeholder-shown) + .search-button {
  display: block;
}

.search-item:hover .search-form {
  display: block;
}

.enter-form {
  padding-top: 20px;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 0;
  display: none;
  border-radius: 4px;
}

.enter-group {
  padding: 0;
  border: none;
}

.enter-title {
  background-color: #FCFCFC;
  padding: 48px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  border-radius: 4px;
}

.enter-input {
  display: block;
  width: 324px;
  padding: 14px 16px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.input-top {
  margin-top: 32px;
  margin-bottom: 16px;
}

.input-bottom {
  margin-bottom: 32px;
  letter-spacing: 0.2em;
}

.button {
  display: inline-block;
  padding: 12px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  color: #2D3440;
}

.button-pink {
  color:#FCFCFC;
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  margin-right: 23px;
  align-self: flex-start;
}

.enter-container {
  display: flex;
}

.enter-link-wrapper {
  display: grid;
}

.enter-form-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.nav-item-right:hover .enter-form {
  display: block;
}

.cart-outer {
  padding-top: 8px;
  min-width: 441px;
  position: absolute;
  z-index: 10;
  top: 30px;
  right: 0;
  display: none;
}

.cart-wrapper {
  padding: 48px;
  background-color: #FCFCFC;
  border-radius: 4px;
}

.cart-descr {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
}

.cart-list {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
}

.cart-item {
  display: flex;
  margin-bottom: 24px;
}

.cart-container-bottom {
  display: flex;
  align-items: center;
}

.cart-wrapper-small {
  display: grid;
}

.cart-button {
  width: 20px;
  height: 20px;
  background-color: #FCFCFC;
  background-image: url("../images/search-reset.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-left: 55px;
  cursor: pointer;
}

.cart-link-image {
  margin-right: 16px;
}

.cart-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
  text-decoration: none;
}

.cart-span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.cart-wrapper-small {
  margin-right: auto;
}

.cart-cost {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2D3440;
}

.nav-item-right:hover .cart-outer {
  display: block;
}
.title {
  color: #2D3440;
  margin: 0;
}

.hero {
  position: relative;
  margin-bottom: 77px;
}

.hero-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.descr {
  font-weight: 400;
  color: #2D3440;
  margin: 0;
}

.hero-descr {
  font-size: 18px;
  line-height: 24px;
}

.button-white {
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-white:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button-white:focus {
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button-white:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.frame {
  position: relative;
}

.frame-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.frame-item {
  display: flex;
  padding: 43px 0 26px 45px;
}

.container-descr {
  padding: 115px 0;
  width: 474px;
  display: none;
}

.frame-item-active .container-descr{
  display: block;
}

.main-image-block {
  position: relative;
  height: 150px;
  opacity: 0.4;
}

.frame-item-active {
  padding-left: 70px;
  padding-right: 15px;
}

.frame-item-active .main-image-block {
  height: 507px;
  opacity: 1;
}

.main-image-block::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 25px;
  left: 0;
  z-index: -1;
}

.raspberry::before {
  background-color: #FFCBD8;
}

.banana::before {
  background-color: #9FC8FF;
}

.caramel::before {
  background-color: #FCDC92;
}

.main-image {
  height: 100%;
  width: auto;
}

.frame-item-active .main-image-block::before {
  width: 327px;
  height: 312px;
  top: 100px;
  left: 0;
  z-index: -1;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
}

.hero-descr {
  margin: 0;
  margin-bottom: 47px;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 2px solid #FCFCFC;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 50%;
  position: absolute;
  top: 48%;
  cursor: pointer;
}

.slider-prev {
  left: 45%;
}

.slider-next {
  right: 24%;
}

.slider-button .slider-button-svg {
  fill: #FCFCFC;
}

.slider-prev .slider-button-svg {
  transform: rotate(180deg);
}

.slider-button:hover {
  background-color: #FCFCFC;
}

.slider-button:hover .slider-button-svg {
  fill: #2D3440;
}

.slider-button:focus {
  border: 2px solid #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.slider-button:focus .slider-button-svg {
  fill: #2D3440;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: none;
}

.hero-container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  position: absolute;
  bottom: 0;
}

.bullet-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.bullet-item:not(:last-child) {
  margin-right: 8px;
}

.bullet-item:last-child {
  margin-right: 0;
}

.bullet-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
}

.bullet-active > .bullet-button {
  background-color: #FCFCFC;
}

.social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-item:not(:first-child) {
  margin-left: 17px;
  z-index: 1;
}

.search-item:last-child {
  margin-left: 0;
}

.social-link {
  display: inline-block;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  outline: 4px solid rgba(252, 252, 252, 0.3);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link:hover {
  background-color: #2D3440;
}

.social-link:focus {
  background-color: #2D3440;
  outline: 4px solid #2D3440;
}

.social-link:active {
  background-color: #2D3440;
  outline: 4px solid rgba(252, 252, 252, 0.3);
  opacity: 0.6;
}

.telegram {
  background-image: url("../images/telegram.svg");
}

.vk {
background-image: url("../images/vk.svg");
}

.youtube {
  background-image: url("../images/youtube.svg");
}

.third-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.gifts-title {
width: 434px;
margin: 0 auto;
text-align: center;
margin-bottom: 55px;
}

.gifts-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.gifts-item {
  display: flex;
  width: 570px;
  background-color: #FF7799;
  border-radius: 16px;
}

.gifts-descr-container {
  padding: 36px;
  padding-right: 0;
  width: 351px;
}

.gifts-image-container img {
  display: inline-block;
  vertical-align: middle;
}

.title-mini {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.title-mini-gifts {
  margin-bottom: 28px;
}

.gifts-descr {
  margin-bottom: 28px;
}

.gifts {
  margin-bottom: 81px;
}

.gallery {
  margin-bottom: 80px;
}

.gallery-main-title {
  width: 527px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 107px;
}

.gallery-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 270px;
  padding: 125px 40px 22px 40px;
  background-color: #FCFCFC;
  position: relative;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 32px;
  gap: 4px 16px;

}

.gallery-item:not(:last-child) {
  margin-right: 30px;
}

.gallery-item:last-child {
  margin-right: 0;
}

.gallery-container {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: -19%;
  left: 19%;
}

.gallery-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  grid-column: 1/-1;
  justify-self: center;
  text-decoration: none;
}

.gallery-descr {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 12px;
}

.gallery-span {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin-top: 2px;
}

.gallery-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background-color: #FF2F64;
  align-self: flex-start;
}

.gallery-link svg {
  fill:#FCFCFC;
}

.gallery-link:hover svg{
fill: #2D3440;
}

.gallery-link:hover {
  background-color: #FCFCFC;
  border: 2px solid #FF2F64;
}

.gallery-link:focus {
  border: 2px solid #000000;
}

.gallery-link:active svg{
  fill: #2D3440;
}

.gallery-link:active {
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;
}

.about-us {
  background-image: url("../images/frame.png");
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;
}

.about-us-wrapper {
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.about-us-title {
  text-align: center;
  margin-bottom: 56px;
}

.about-us-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  gap: 40px 32px;
}

.about-us-item {
  padding-left: 64px;
  position: relative;
}

.about-us-item::before {
  width: 48px;
  min-height: 48px;
  border-radius: 50%;
  border: 2px solid #2D3440;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.ice-cream::before {
background: url("../images/ice-cream.svg") no-repeat center;
}

.cow::before {
  background: url("../images/cow.svg") no-repeat center;
}

.leave::before {
  background: url("../images/leave.svg") no-repeat center;
}

.thermometer::before {
  background: url("../images/thermometer.svg") no-repeat center;
}

.index-contain {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 0 30px;
  margin-bottom: 80px;
}

.article {
 padding: 32px;
 padding-bottom: 67px;
 border-radius: 16px;
 background: url("../images/frame-article.png") no-repeat center;
}

.title-article {
  max-width: 60%;
  display: block;
  text-decoration: none;

}

.article-descr {
  margin-bottom: 12px;
}

.subscribe {
  background: url("../images/frame-subscribe.png") no-repeat center;
  padding: 6px;
}
